{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": [
      "warn",
      { "argsIgnorePattern": "^_|^next$", "ignoreRestSiblings": true }
    ],
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-param-reassign": ["error", { "props": false }]
  },
  "ignorePatterns": [".github/**"]
}